.blog-header {
    color: #FFFFFF;
    padding-block: 2.5rem;
    margin-bottom: 5.5rem;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../images/main/banner-blog.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-header-container {
    padding: 2.5rem 1.5rem;
}

.blog-header__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.blog-header__description {
    margin-top: 2rem;
    font-size: 1.25rem;
    line-height: 2rem;
}



@media screen and (min-width: 768px) {
    .blog-header {
        padding-block: 10rem;
    }

    .blog-header-container {
        padding: 0 6rem;
    }

    .blog-header__description {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 1440px) {
    .blog-header-container {
        padding-left: 7.5rem;
        padding-right: 50%;
    }

    .blog-header__description {
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1920px) {
    .blog-header-container {
        margin: auto;
        max-width: 1220px;
        padding-inline: 0;
    }

    .blog-header__description {
        padding-right: 55%;
    }
}