.main-header {
    color: #FFFFFF;
    padding-block: 2.5rem;
    margin-bottom: 5.5rem;
}

.main-header-container {
    padding: 2.5rem 1.5rem;
}

.main-header__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.main-header__description {
    margin-top: 2rem;
    font-size: 1.25rem;
    line-height: 2rem;
}

.main-header.blog {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../images/main/banner-blog.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-header.pacotes {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../images/main/banner-pacotes.jpg");
    background-size: cover;
    background-position: 65% 50%;
    background-repeat: no-repeat;
}

.main-header.contato {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../images/main/banner-contato.jpg");
    background-size: cover;
    background-position: 35%;
    background-repeat: no-repeat;
}



@media screen and (min-width: 768px) {
    .main-header {
        padding-block: 10rem;
    }

    .main-header-container {
        padding: 0 6rem;
    }

    .main-header__description {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 1440px) {
    .main-header-container {
        padding-left: 7.5rem;
        padding-right: 50%;
    }

    .main-header__description {
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1920px) {
    .main-header-container {
        margin: auto;
        max-width: 1220px;
        padding-inline: 0;
    }

    .main-header__description {
        padding-right: 55%;
    }
}