.payment-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.payment__title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
}

.payment__description {
    font-size: 1.25rem;
    line-height: 2rem;
}

.payment__price {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.payment__info .btn-link {
    max-width: 100%;
    margin-top: 1.5rem;
}

.payment__images {
    min-height: 460px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.payment__images img:nth-child(3) {
    grid-column: 1 / 3;
    object-position: bottom;
}

.payment__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.payment__images img {
    max-width: 100%;
    height: 100%;
    max-height: 254px;
    min-height: 254px;
}

.payment-container.pacotes .payment__images img:nth-child(3) {
    object-position: center;
}



@media screen and (min-width: 1440px) {
    .payment-container {
        flex-direction: row;
    }

    .payment__info {
        width: 30%;
        padding-right: 2rem;
    }

    .payment__images {
        flex-grow: 1;
    }
}